= stylesheet_pack_tag 'flavor_of_directives', media: 'all', 'data-turbolinks-track': 'reload'
section
  flavor-of-directives-app
= javascript_pack_tag 'flavor_of_directives', 'data-turbolinks-track': 'reload'
